<!--Campos-->    
<div fxLayout = "column" fxLayoutAlign = "center center">
    <form>    
        <mat-form-field class="input-field-width" appearance="fill">
            <mat-label class="label-color">E-mail</mat-label>
            <input matInput>
        </mat-form-field>
    
        <mat-form-field class="input-field-width" appearance="fill">
            <mat-label class="label-color">Senha</mat-label>
            <input type="password" matInput>
        </mat-form-field>
    </form>   
</div>

<!--Botões-->
<div fxLayout = "row" fxLayoutAlign = "center center" fxLayoutGap = "10px" >   
    
    <a mat-raised-button href="/primeiro-cadastro">Cadastrar</a>        
    <button mat-raised-button>Log In</button>       
    
</div>