<div fxLayout = "row" fxLayoutAlign = "start center">
    <h1>Bem vindo, Fulano</h1>
</div>

<div fxLayout = "column" fxLayoutAlign="center center" fxLayoutGap="25px">
  <!--a href="/casamento" mat-raised-button class="button-size" color="black">Criar casamento</a-->
  <!--a href="/casamento" mat-raised-button class="button-size" color="black">Editar casamento</a-->
  <button mat-raised-button class="button-size" color="black" (click)="onClick()">Criar casamento</button>
  <button mat-raised-button class="button-size" color="black" (click)="onClick()">Editar casamento</button>
</div>
